body
{
    font-family: "SF UI Web", Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
}

div.header
{
    color: white;
    background-color: #333;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    vertical-align: middle;
}

div.header:before
{
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

h1.header-title
{
    font-size: 24px;
    font-weight: bold;
}

div.header-title
{
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}

div.header-menu
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    vertical-align: middle;
    margin-right: 16px;
}

div.header-menu:before
{
    content: '\200B';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

div.header-menu-text
{
    display: inline-block;
    font-size: 24px;
    font-weight: normal; 
    vertical-align: middle;
    
    right: 0;
}

div.menu
{
    color: black;
    background-color: white;

    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 184px;
    overflow: scroll;

    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #666;

    padding: 8px;
}

div.main
{
    color: black;
    background-color: white;

    position: fixed;
    top: 60px;
    left: 200px;
    right: 0;
    bottom: 0;
    overflow: scroll;

    padding: 8px;
}
