body
{
    font-family: "SF UI Web", Helvetica, Verdana, sans-serif;
    font-size: 14px;
    color: black;
    background-color: white;
    margin: 0;
}

a
{
	transition: 0.2s;
}

a:link, a:visited
{
    color: #06c;
    text-decoration: none;
}

a:hover, a:active
{
    color: #39f;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    color: #06c;
}

pre, code, kbd, samp
{
    font-family: "Source Code Pro Web", Monaco, "Lucida Console", Courier, "Courier New", Fixedsys, monospace;
    font-size: 14px;
}

pre, code
{
    background-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-color: #666;
}

pre
{
    border-radius: 8px;
    padding: 8px;
    overflow: auto;
}

code
{
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

hr
{
	border: none;
	height: 1px;
	background-color: #06c;
}

blockquote
{
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 16px;
	margin-right: 16px;
	padding: 8px;
	
	border-left-style: solid;
	border-left-width: 4px;
	border-left-color: #06c;
	background-color: #cef;
}

blockquote cite
{
	display: block;
	padding-right: 2em;
	text-align:right;
}

blockquote cite::before
{
	content: "\2013 ";
}

table
{
	border-collapse: collapse;
	
	display: block;
	overflow: auto;
}

tbody
{
	border-width: 2px;
	border-style: solid;
	border-color: #06c;
}

th, td
{
	border-width: 1px;
	border-style: solid;
	border-color: #06c;
}

th
{
	text-align: left;
	background-color: #cef;
}
